.form-group{
    margin: 0;
     padding: 0;
     font-family: sans-serif;
     margin-right:60%;
     background-size:50 % 50%;
     background-attachment: fixeds
   }
   .centrarhead{
       
       margin-top: 10px;
     margin-bottom: 100px;
     margin-right: 1000px;
     margin-left: 400px;
       
   }
   